@(playerName : String)(crewCount : Int)(crewNames : List[String])(avatar : Int)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Winning Like Someone who Wins a Lot</h1>
<img src='@routes.Assets.versioned("images/toxic.jpg")' width="200px"><img src='@routes.Assets.versioned("images/kitten" + avatar + ".jpg")' width="150"><br>
<p>You reach China and load up on fidget spinners.
    When you get back to England the Queen rewards you with a monopoly on importing them.
    However, tests reveal that the fidget spinners are coated in toxic lead paint.
    She orders for you and your crew to be thrown into the Tower of London.
    The end for @playerName and the @crewCount crew members left.
</p>
<br>
<p>Remaining Crew Members:</p>
<ul>
    @for(name <- crewNames){
    <li>@name</li>
    }
</ul>
<br><br>
<form action="@routes.GameController.getWelcome" method="GET">
    @CSRF.formField
    <input type="submit" value="New Player"/>
</form>
<form action="@routes.GameController.postStart" method="POST">
    @CSRF.formField
    <input type="submit" value="Play it Again"/>
</form>
</body>
</html>