@(playerName : String)(crewCount : Int)(crewNames : List[String])(avatar : Int)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>It's Santa!</h1>
<img src='@routes.Assets.versioned("images/santa.jpg")' width="200px"><img src='@routes.Assets.versioned("images/kitten" + avatar + ".jpg")' width="150"><br>
<p>As you and the @crewCount men remaining continue north, you start to hear the jingling of bells.
    Looking ahead, you can see a jolly man with a long white beard beckoning you to speak to him.
    He introduces himself as santa, and offers your crew positions at his toy factory.
    The end for @playerName.
</p>
<br>
<p>Remaining Crew Members:</p>
<ul>
    @for(name <- crewNames){
    <li>@name</li>
    }
</ul>
<br><br>
<form action="@routes.GameController.getWelcome" method="GET">
    @CSRF.formField
    <input type="submit" value="New Player"/>
</form>
<form action="@routes.GameController.postStart" method="POST">
    @CSRF.formField
    <input type="submit" value="Play it Again"/>
</form>
</body>
</html>
